@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
body, html {
	font-family: "Lato", sans-serif;
	font-weight: 400;
	background-image: url("image.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
}

* {
	margin: 0;
	padding: 0;
}

.container {
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	text-align: center;
	font-size: 24px;
	background-color: hsl(175, 40%, 33%, 0.7);
	padding: 10vh;
	border-radius: 5px;
	box-shadow: 0 0 20px hsl(174, 50%, 58%);

}

.title {
	font-size: 50px;
	font-weight: 700;
}

.fas {
	font-size: 100px;
	padding-bottom: 20px;
}