@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
body, html {
	font-family: "Lato", sans-serif;
	font-weight: 400;
	background-image: url("image.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
}

* {
	margin: 0;
	padding: 0;
}

div.container {
	margin: 30px;
}

.title, .description {
	text-align: center;
}

.description {
	font-weight: 300;
	font-style: italic;
	margin-top: 10px;
	letter-spacing: 1px;
}

.forum {
	background-color:hsl(240, 27%, 22%, 0.6);
	max-width: 50vw;
	height: auto;
	margin: 0 auto;
	margin-top: 30px;
	font-size: 24px;
	border-radius: 5px;
	padding: 20px;
}

h4 {
	text-align: left;
	margin-left: 10px;
	padding-top: 20px; /* suggestion : change it to margin-left*/
}

input {
	display: block;
	padding: 10px;
	margin: 10px;
	border-radius: 5px;
	width: 92%;
	border: none;
}

input:focus {
	outline: none;
}

.role_form {
	display: block;
	padding: 10px;
	margin: 10px;
	border-radius: 5px;
	width: 92%;
	border: none;
	cursor: pointer;
}

.role_form:focus {
	outline:none;
}